body {
    font-family: Helvetica,Arial,sans;
}

h1 {
    text-align:center;
    color: #CECECE;
}

#commits {
    font-size: 0.8em;
    color: #666;
}

#commit-list tr.even {
    background-color: #EEEEEE;
}

#commit-list table {
    border-spacing:0;
    border-collapse:collapse;
}


#commit-list td {
    padding: 5px 10px;
}

#commit-list .additions {
    color: green;
}

#commit-list .deletions {
    color: rgb(180,0,60);
}

#commit-list .patch-link {
    color: rgb(0,40,180);
    text-decoration:none;
}
